<html>
  <body>

<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title">WELCOME TO BANKING APPLICATION!!</h1>
      </div>
    </div>
  </section>
  <section>
    <div class="example-label">Login Internet Banking </div><br><br>
    <div class="example-button-row">
      <button mat-button>Login</button><br><br>
      <button mat-button>New User? Register</button><br><br>
      <button mat-button>Apply online for account</button>
    
    </div>
    </section>
  </body>
  </html>